
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <h3 class="mb-5 text-primary">LogIn here!</h3>
          <form action="/users/create-session" method="POST" >
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form1Example13" name="email"  class="form-control form-control-lg" placeholder="Email" required/>

            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form1Example23" class="form-control form-control-lg" name="password" placeholder="Password"required/>
            </div>
  
  
            <!-- Submit button -->
            <input type="submit" class="btn btn-primary btn-lg btn-block mb-4" value="SignIn"></input>
  
           
          </form>

          
          <div id ="form-bottom" class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
         Don't have an account?<a class="login-link" href="/">Register here</a>
            </div>
            <a href="/users/forgot-password">Forgot password?</a>
          </div>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/users/auth/google"
          role="button">
          <i class="fab fa-facebook-f me-2"></i>Continue with Google
        </a>

        </div>
      </div>
    </div>
  </section>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
<!--  
  <h1 class="login-title">Log In</h1>

<form action="/users/create-session" method="POST" class="login-form">
    <input class="login-input" type="email" name="email" placeholder="Email" required>
    <input class="login-input" type="password" name="password" placeholder="Password" required>
    <input class="login-button" type="submit" value="Log In">
</form>

<p class="or-text">or</p>

<p>
    <a class="google-auth-link" href="/users/auth/google">Google Log In/Register</a>
</p> -->